<%= trial %>
<%= keys[current_host.server] %>

Servers: <%= servers.to_s %>

Current server:
    ctron id: <%= current_host.server %>
    hostname: <%= current_host.hostname %>
        fqdn: <%= current_host.fqdn %>
  primary_ip: <%= current_host.primary_ip %>
      memory: <%= current_host.memory.total %>
       cores: <%= current_host.total_cores %>

Redis:
  password: <%= redis.password %>
  auth: <%= redis.auth %>
