#!/usr/bin/env bash
mkdir -p <%= path %>

<% if mode %>
  chmod -Rv <%= mode %> <%= path %>
<% end %>

<% if owner %>
  chown -Rv <%= owner %> <%= path %>
<% end %>

<% if group %>
  chgrp -Rv <%= group %> <%= path %>
<% end %>
