#!/usr/bin/env bash
mkdir -p <%= File.dirname(destination) %>
cp -f <%= source %> <%= destination %>

<% if mode %>
  chmod -Rv <%= mode %> <%= destination %>
<% end %>

<% if owner %>
  chown -Rv <%= owner %> <%= destination %>
<% end %>

<% if group %>
  chgrp -Rv <%= group %> <%= destination %>
<% end %>
