#!/usr/bin/env bash

# create user with group (-U) and home directory (-m), and bash shell (-s)
if getent passwd <%= user %> > /dev/null 2>&1; then
  # user already exists
  echo "User <%= user %> already exists"
else
  useradd -U -m -s /bin/bash <%= user %>
fi

